// Colors
$white: #ffffff;
$green: #6bd388;
$dark-gray: #363636;
$light-gray: #d3d3d3;
$orange: #eb6043;


// Theme colors
$primary: $orange;
$success: $green;
$dark: $dark-gray;

$border-radius: 0.25rem;