.product-card__badge {
    $size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-25%, -25%);
    background-color: orangered;
    color: white;
    font-size: 80%;
    font-weight: 400;
    border-radius: 50%;
}