@import '../../styles/customVariables';

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 10px;
}

.rating__star {
    position: relative;
    margin-right: 0.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.rating__partial {
    position: absolute;
    left: 0;
    overflow: hidden;
    color: red;
}

.rating__star.rating__star--threshold {
    & ~ .rating__star {
        color: $light-gray;
    }
}