@import '../../styles/customVariables';

.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  box-shadow: 0 0.15rem .8rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.card__body {
  position: relative;
  padding: 1rem;

  img {
    width: 100%;
  }
}

.card__separator {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  border-top: 1px solid $light-gray;
}

.card__footer {
  padding: .75rem .5rem .75rem;
  text-align: center;
}
